<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>610224678821-93t38ocnkia6c9teh5pdle0752ogk3oi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.610224678821-93t38ocnkia6c9teh5pdle0752ogk3oi</string>
	<key>API_KEY</key>
	<string>AIzaSyDibblvLXN_1RJak-oN62iY3JJflGegK_A</string>
	<key>GCM_SENDER_ID</key>
	<string>610224678821</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.maritz.baseApp</string>
	<key>PROJECT_ID</key>
	<string>air-base-app</string>
	<key>STORAGE_BUCKET</key>
	<string>air-base-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:610224678821:ios:e580b5dc0622231f60aa4c</string>
</dict>
</plist>